Package: com.ashman.lockinfofacebook
Name: Facebook Plugin for LockInfo (Native)
Version: 1.0.0.0
Architecture: iphoneos-arm
Description: Adds a native plugin for Facebook to your LockInfo screen.
Homepage: http://modmyi.com/info/lockinfofacebook.php
Depiction: http://modmyi.com/info/lockinfofacebook.d.php
Maintainer: poetic_folly <poetic_folly@modmyi.com>
Author: David Ashman (Stimpy5050) <dashman@gmail.com>
Sponsor: ModMyi.com <http://modmyi.com/forums/index.php?styleid=31>
Section: LockInfo Addons
Pre-Depends: com.ashman.lockinfo (>= 1.1.14-9)
