<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>NewPosts</string>
			<key>label</key>
			<string>Allow New Posts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>ShowNotif</string>
			<key>label</key>
			<string>Show Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>Comments</string>
			<key>label</key>
			<string>Allow Comments</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>Likes</string>
			<key>label</key>
			<string>Allow Likes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>NO</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>Collapsed</string>
			<key>label</key>
			<string>Collapsed By Default</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>ShowCount</string>
			<key>label</key>
			<string>Show Count</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>YES</string>
			<key>defaults</key>
			<string>com.burgess.lockinfo.FacebookPlugin</string>
			<key>key</key>
			<string>ShowImages</string>
			<key>label</key>
			<string>Show Images</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>I do not recieve any of the profits from sales of LockInfo, so if you appreciate my work please feel free to donate.
Thanks to Joaquin Alviz for making the Plugin&apos;s icons!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>action</key>
			<string>FacebookDonateButtonPressed:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<string>YES</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>wildcat</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>multitasking</key>
					<string>NO</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>I do not recieve any of the profits from sales of LockInfo, so if you appreciate my work please feel free to donate.
Thanks to Joaquin Alviz for making the Plugin&apos;s icons!</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>wildcat</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>multitasking</key>
					<string>NO</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>Facebook</string>
</dict>
</plist>
